<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script>
                window.PHRASEAPP_CONFIG = {
                    accountId: '0bed59e5',
                    projectId: '00000000000000004158e0858d2fa45c',
                    datacenter: 'eu',
                    origin: 'phrase-symfony',
                };
                (function() {
                    var phrasejs = document.createElement('script');
                    phrasejs.type = 'module';
                    phrasejs.async = true;
                    phrasejs.src = 'https://d2bgdldl6xit7z.cloudfront.net/latest/ice/index.js'
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(phrasejs, s);
                })();
            </script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
